<script src="files.service.ts"></script>
<link rel="stylesheet" href="files.component.scss">
<div class="text-center display-4 mb-4">Files</div>

<div class="p-2 bg-light bg-opacity-10 mb-3">
  /Projects/GraduationProject/src/ClientApp/src/app/
</div>

<div class="table-responsive">
  <div class="radius">
    <table class="table table-dark table-striped mb-0 p-2">
      <thead class="border-bottom">
      <tr>
        <th>Name</th>
        <th>Extension</th>
        <th>Size</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <a href="#">..</a>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <ng-container *ngFor="let file of files">
        <tr>
          <td>
            <a href="#">{{file.name}}</a>
          </td>
          <td>{{file.extension}}</td>
          <td>{{file.sizeInBytes}}</td>
          <td>{{file.date}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
