<div class="text-center display-4 mb-4">Files</div>

<div class="p-2 bg-light bg-opacity-10">
  /Projects/GraduationProject/src/ClientApp/src/app/
</div>

<div class="table-responsive">
  <div class="radius">
    <table class="table table-dark table-striped mb-0 p-2">
      <thead class="border-bottom">
      <tr>
        <th>Name</th>
        <th>Extension</th>
        <th>Size</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <a href="#">..</a>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>my-directory_1</td>
        <td></td>
        <td>DIR</td>
        <td>18/05/2002 18:00</td>
      </tr>
      <tr>
        <td>My new Super NewDirectory</td>
        <td></td>
        <td>DIR</td>
        <td>18/05/2002 18:00</td>
      </tr>
      <tr>
        <td>my-directory_2</td>
        <td></td>
        <td>DIR</td>
        <td>18/05/2002 18:00</td>
      </tr>
      <tr>
        <td>custom-new-file_1</td>
        <td>txt</td>
        <td>55 mb</td>
        <td>18/05/2002 18:00</td>
      </tr>
      <tr class="">
        <td>shell executable script</td>
        <td>sh</td>
        <td>200 b</td>
        <td>18/05/2002 18:00</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
